<div class="notification-container">
  @for (notification of notificationService.getNotifications(); track notification.id) {
    <ng-container [ngTemplateOutlet]="notificationTemplate" [ngTemplateOutletContext]="{ notification }" />
  }
</div>

<ng-template #notificationTemplate let-notification='notification'>
  <div class="notification">
    <div class="notification-image-container">
      <img src="images/icons/message-icon.svg" alt="message">
    </div>
    <div class="notification-description-container">
      <h4 class="fs-16">{{ notification.type }}</h4>
      <span class="fs-14">{{ notification.text }}</span>
    </div>
    <div class="close-message-icon-container">
      <img src="images/icons/close-message-icon.svg" alt="close message" (click)="closeNotification(notification)">
    </div>
  </div>
</ng-template>
