@use '../../assets/functions'as *;

.header {
  position: static;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #18121E80;
  z-index: 9999;
  width: 100%;
  height: rem(156);
  color: var(--white-color);
  padding-top: rem(16);
  font-weight: 600;
}

.button--small {
  color: var(--secondary-color);
  background-color: var(--white-color);
  border: none;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  margin-bottom: rem(11);
}

.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;

  &-image {
    width: rem(137);
    height: auto;
  }

  &-company-name {
    margin: 0;
    font-size: rem(14);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: rem(5);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: rem(49);

  &__menu {
    display: flex;
    gap: rem(24);
  }
}

.date-clicker-container {
  display: flex;
  justify-content: flex-end;
  gap: rem(40);
  align-items: center;
}

.clicker-buttons {
  gap: rem(12);
  margin-top: 0 auto;

  & button {
    margin: 0 rem(6);
  }

  .clicker-btn {
    border: none;
    background: transparent;
    color: #fff;
    font-size: rem(20);
    cursor: pointer;

    &:disabled {
      color: #6FA0A0;
      cursor: not-allowed;
    }
  }
}

.navigation__item {
  color: var(--light-grey-background-color);
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}
