<footer class="footer">
  <div class="subscribe">
    <div class="subscribe-text">
      <span class="section-label">актуально</span>
      <h2 class="section-title">Получайте полезные рассылки о путешествиях</h2>
    </div>
    <div class="subscribe-cta">
      <span class="fs-16">Введите e-mail адрес</span>
      <div class="subscribe-cta-content">
        <div class="subscribe-input">
          <input id="input-subscribe" type="text" placeholder="name@domain.com">
        </div>
        <div class="subscribe-button">
          <button id="button-subscribe" class="button button--subscribe">Подписаться на новости</button>
        </div>
      </div>
      <div class="subscribe-cta-info">
        <span>подписываясь на новости, вы автоматически соглашаетесь с </span><span id="personal-data-span"
            class="span-underline">условиями обработки персональных данных</span> и <span
            id="advertising-mailing-span" class="span-underline">правилами рекламных рассылок</span>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-section-company">
      <h4>Компания «РумТибет»</h4>
      <p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард
        МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
      <div class="footer-section-company-contacts">
        <a id="contact-email" class="fs-14">info@domain.com</a>
        <a id="contact-number" class="fs-14">+7 (123) 456-78-90</a>
      </div>
      <div class="footer-section-company-logos">
        <fa-icon class="fs-32" [icon]="faTelegram" />
        <fa-icon class="fs-32" [icon]="faVk" />
        <fa-icon class="fs-32" [icon]="faPinterest" />
        <fa-icon class="fs-32" [icon]="faSkype" />
      </div>
    </div>
    <div class="footer-section-services">
      <h4>Наши услуги</h4>
      @for (service of servicesInfo; track $index; let i = $index) {
        <div class="footer-section-service">
          <fa-icon [icon]="faAngleRight" class="fa-angle-right"></fa-icon>
          <span>{{ service }}</span>
        </div>
      }
    </div>
    <div class="footer-section-important-info">
      <h4>Важно для путешествий</h4>
      @for (info of travelInfo; track $index; let i = $index) {
    <div class="footer-section-important-info-item">
      <fa-icon [icon]="faAngleRight" class="fa-angle-right"></fa-icon>
      <span>{{ info }}</span>
    </div>
      }
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="footer-bottom fs-14 container">
      <span>ИП Константинопольский К.К., 2023</span>
      <span>Политика обработки персональных данных</span>
    </div>
  </div>
</footer>
