@use '../../assets/functions'as *;

.photo-report-wrapper {
  position: relative;
  padding-bottom: rem(198);

  .photo-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, rem(280));
    grid-template-rows: repeat(2, rem(250));
    padding: 0 rem(370);
    gap: rem(20);
    margin-bottom: rem(50);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: rem(6);
    }

    &-item1, &-item5 {
      grid-column: span 2;
    }
  }

  .pinterest-button {
    display: block;
    margin: 0 auto;
  }
}


.subscribe {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(1180);
  gap: rem(64);
  padding: rem(40) rem(100);
  background-color: var(--white-color);
  box-shadow: 0px 0px 15px 0px #18121E1F;
  border-radius: rem(6);

  &-text {
    display: flex;
    flex-direction: column;
    gap: rem(8);

  }

  &-cta {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    .subscribe-cta-content {
      display: flex;
      flex-direction: row;
      gap: rem(16);
      height: rem(44);

      .subscribe-input {
        display: flex;
        height: 100%;

        input {
          border: none;
          outline: none;
          border-radius: rem(4);
          width: rem(280);
          height: rem(45);
          padding: rem(12) rem(16);
          background-color: var(--light-grey-background-color);
        }
      }

      .subscribe-button {
        height: 100%;

        .button--subscribe {
          border-radius: rem(4);
          background-color: var(--secondary-color);
          color: var(--white-color);
          height: 100%;
          width: rem(240);
        }
      }
    }

    .subscribe-cta-info {
      width: rem(536);

      .span-underline {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  h2 {
    font-size: rem(26);
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  width: rem(1180);
  color: var(--light-grey-background-color);
  padding: rem(178) 0 rem(80) 0;

  h4 {
    font-size: rem(20);
    margin: 0;
  }

  p {
    font-size: rem(14);
    line-height: rem(20);
  }

  span {
    display: block;
    font-size: rem(14);
    margin: 0;
    position: relative;
    padding-left: rem(18);
    line-height: rem(18);
  }

  span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(6);
    height: rem(10);
    background-image: url('/images/icons/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--light-grey-background-color);
  }

  .footer-section-company {
    display: flex;
    flex-direction: column;
    width: rem(450);
    gap: rem(17);

    & p {
          margin-bottom: rem(80);
          line-height: rem(20);
    }

    &-contacts {
      display: flex;
      gap: rem(24);
      margin-bottom: rem(32);

      a {
        text-decoration: underline;
      }
    }

    &-logos {
      display: flex;
      gap: rem(16);
    }
  }

  .footer-section-services {
    display: flex;
    flex-direction: column;
    width: rem(280);
    gap: rem(16);

    h4 {
      margin-bottom: rem(4);
    }
  }

  .footer-section-important {
    display: flex;
    flex-direction: column;
    width: rem(280);
    gap: rem(16);

    h4 {
      margin-bottom: rem(4);
    }
  }
}

.footer-bottom-wrapper {
  display: flex;
  background-color: #18121E;
  height: rem(66);
  width: 100%;

  .footer-bottom {
    color: var(--light-grey-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
