<footer class="footer">
  <div class="subscribe">
    <div class="subscribe-text">
      <span class="section-label">актуально</span>
      <h2 class="section-title">Получайте полезные рассылки о путешествиях</h2>
    </div>
    <div class="subscribe-cta">
      <span class="fs-16">Введите e-mail адрес</span>
      <div class="subscribe-cta-content">
        <div class="subscribe-input">
          <input id="input-subscribe" type="text" placeholder="name@domain.com">
        </div>
        <div class="subscribe-button">
          <button id="button-subscribe" class="button button--subscribe">Подписаться на новости</button>
        </div>
      </div>
      <div class="subscribe-cta-info">
        <span class="fs-14">подписываясь на новости, вы автоматически соглашаетесь с <span id="span-underline1"
            class="span-underline">условиями обработки персональных данных</span> и <span
            class="span-underline"></span>правилами рекламных рассылок</span>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-section-company">
      <h4>Компания «РумТибет»</h4>
      <p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард
        МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
      <div class="footer-section-company-contacts">
        <a id="contact-email" class="fs-14">info@domain.com</a>
        <a id="contact-number" class="fs-14">+7 (123) 456-78-90</a>
      </div>
      <div class="footer-section-company-logos">
        <img id="contact-telegram-icon" src="/images/icons/footer-logos/telegram.svg" alt="telegram logo">
        <img id="contact-vk-icon" src="/images/icons/footer-logos/vk.svg" alt="vk logo">
        <img id="contact-pinterest-icon" src="/images/icons/footer-logos/pinterest.svg" alt="pinterest logo">
        <img id="contact-skype-icon" src="/images/icons/footer-logos/skype.svg" alt="skype logo">
      </div>
    </div>
    <div class="footer-section-services">
      <h4>Наши услуги</h4>
      <span>Прогулки в горы летом</span>
      <span>Зимние походы в горы</span>
      <span>Посещение храмов в горах</span>
      <span>Экстремальные виды туризма</span>
      <span>Походы в джунглях Амазонии</span>
      <span>Поездка в Африку</span>
    </div>
    <div class="footer-section-important">
      <h4>Важно для путешествий</h4>
      <span>Как собрать в долгий поход?</span>
      <span>Жизненно важные предметы для похода</span>
      <span>Медицинская страховка, гарантии безопасности</span>
      <span>Если вы врач - загляните сюда</span>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="footer-bottom fs-14 container">
      <span>ИП Константинопольский К.К., 2023</span>
      <span>Политика обработки персональных данных</span>
    </div>
  </div>
</footer>
