<button
  (click)="refresh()"
  id="refresh-users-button"
  class="refresh-button"
>
  <img src="images/icons/refresh-icon.svg" class="refresh-icon" alt="refresh-button">
</button>

<app-create-user (createUser)="addUser($event)" />

<app-users-filter (filterUser)="onSearch($event)" />

<div class="user-card-list__wrapper">
  @for (user of filteredUsers$ | async; track user.id) {
    <app-user-card [user]="user" (deleteUser)="onDeleteUser($event)"/>
  } @empty {
    <div class="user-card-empty">
      Нет пользователей для отображения
    </div>
  }
</div>
