@if (loading$ | async) {
  <div>Loading...</div>
}


<div class="user-card__wrapper">
  @for (user of users$ | async; track user.id) {

  <div class="user-card">

    <span class="user-name">{{ user.name }}</span>
    <span class="user-username">@{{ user.username }}</span>

    <span class="user-card__section-title">Контакты</span>
    <div class="user-card__contacts">
      <div class="user-card__labels">
        <span class="user-card__labels-span">Эл.почта:</span>
        <span class="user-card__labels-span">Телефон:</span>
        <span class="user-card__labels-span">Веб-сайт:</span>
      </div>

      <div class="user-card__values">
        <span class="user-card__values-span secondary-color">{{ user.email }}</span>
        <span class="user-card__values-span">{{ user.phone }}</span>
        <span class="user-card__values-span secondary-color">{{ user.website }}</span>
      </div>
    </div>

    <span class="user-card__section-title">Адрес проживания</span>
    <div class="user-card__address">
      <div class="user-card__labels">
        <span class="user-card__labels-span">Город:</span>
        <span class="user-card__labels-span">Улица:</span>
        <span class="user-card__labels-span">Офис:</span>
        <span class="user-card__labels-span">Индекс:</span>
        <span class="user-card__labels-span">Координаты:</span>
      </div>

      <div class="user-card__values">
        <span class="user-card__values-span">{{ user.address.city }}</span>
        <span class="user-card__values-span">{{ user.address.street }}</span>
        <span class="user-card__values-span">{{ user.address.suite }}</span>
        <span class="user-card__values-span">{{ user.address.zipcode }}</span>
        <div class="user-card__values-coordinates">
          <span class="user-card__values-span text-coordinates">{{ user.address.geo.lat }}</span>
          <span class="user-card__values-span text-coordinates">{{ user.address.geo.lng }}</span>
        </div>
        <!-- <span class="user-card__values-span text-border">
          {{ user.address.geo.lat }} {{ user.address.geo.lng }}
        </span> -->
      </div>
    </div>


    <span class="user-card__section-title">Место работы</span>
    <div class="user-card__job">
      <div class="user-card__labels">
        <span class="user-card__labels-span">Компания:</span>
        <span class="user-card__labels-span">Миссия:</span>
      </div>

      <div class="user-card__values">
        <span class="user-card__values-span">{{ user.company.name }}</span>
        <span class="user-card__values-span text-italic">{{ user.company.catchPhrase }}</span>
      </div>
    </div>


    <div class="user-card__spec">
      <div class="user-card__labels">
        <span class="user-card__labels-span">Специализация</span>
      </div>

      <div class="user-card__values">
        <span class="user-card__values-span">{{ user.company.bs }}</span>
      </div>
    </div>

  </div>
  }
</div>
