@use '../../assets/functions'as *;

.user-card-list__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: rem(80) rem(230);
  padding-bottom: calc(rem(80) + rem(109));
  width: 100%;
  gap: rem(50) rem(70);
  color: #F3F5F4;
}

.user-card-empty {
  background-color: #B15757;
  padding: rem(30);
  border-radius: rem(10);
}

.refresh-button {
  height: rem(80);
  width: rem(80);
  background-color: #D4A373;
  border-radius: 50%;
  position: fixed;
  bottom: rem(60);
  left: rem(60);
  box-shadow: 4px 4px 21px 0px #00000040;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease;
  z-index: 999;

  &:hover {
    background: #D4A373;
    color: white;
  }

  &:active {
    transform: translateY(rem(1));
  }
}

.refresh-button.loading .refresh-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
