<app-loader />
<button
  (click)="refresh()"
  id="refresh-users-button"
  class="refresh-button"
>
  <img src="images/icons/refresh-icon.svg" class="refresh-icon" alt="refresh-button">
</button>

<app-user-create (createUser)="addUser($event)" />

<app-users-filter (filterUser)="onSearch($event)" />

@let users = filteredUsers$ | async;

@if (users && users.length > 0) {
  <p class="users-count">
    Найдено:
    <span class="users-count__text">
      {{ users.length | pluralize:'пользователь':'пользователя':'пользователей' }}
    </span>
  </p>

  <div class="user-card-list__wrapper">
    @for (user of users; track user.id) {
      <app-user-card
        [user]="user"
        (deleteUser)="onDeleteUser($event)"
      />
    }
  </div>
} @else {
  <div class="user-card-empty">
    Нет пользователей для отображения
  </div>

}
