<div
  class="user-card-list"
  appAnimatedGradient="{ delay: 500, thickness: '4px' }"
>
  <span class="user-card-name">{{ user.name | uppercase }}</span>
  <span class="user-card-username">@{{ user.username }}</span>

  <span class="user-card__section-title">{{
    'users.card.contacts' | translate
  }}</span>
  <div class="user-card__contacts">
    <div class="user-card__info">
      <span class="user-card__key">{{ 'users.card.email' | translate }}</span>
      <span class="user-card__key">{{ 'users.card.phone' | translate }}</span>
      <span class="user-card__key">{{ 'users.card.website' | translate }}</span>
    </div>

    <div class="user-card__values">
      <span class="user-card__value secondary-color">{{ user.email }}</span>
      <span class="user-card__value">{{
        user.phone | phoneFormat: phoneFormat.MASKED
      }}</span>
      <span class="user-card__value secondary-color">{{
        user.website || ('users.card.unknown' | translate)
      }}</span>
    </div>
  </div>

  <span class="user-card__section-title">{{
    'users.card.address' | translate
  }}</span>
  <div class="user-card__address">
    <div class="user-card__info">
      <span class="user-card__key">{{ 'users.card.city' | translate }}</span>
      <span class="user-card__key">{{ 'users.card.street' | translate }}</span>
      <span class="user-card__key">{{ 'users.card.office' | translate }}</span>
      <span class="user-card__key">{{ 'users.card.zipcode' | translate }}</span>
      <span class="user-card__key">{{
        'users.card.coordinates' | translate
      }}</span>
    </div>

    <div class="user-card__values">
      <span class="user-card__value">{{ user.address.city }}</span>
      <span class="user-card__value">{{ user.address.street }}</span>
      <span class="user-card__value">{{
        user.address.suite || ('users.card.unknown' | translate)
      }}</span>
      <span class="user-card__value">{{ user.address.zipcode }}</span>

      <div class="user-card__values-coordinates">
        <span class="user-card__value text-coordinates">
          {{ user.address.geo.lat }}
        </span>
        <span class="user-card__value text-coordinates">
          {{ user.address.geo.lng }}
        </span>
      </div>
    </div>
  </div>

  <span class="user-card__section-title">{{
    'users.card.work' | translate
  }}</span>
  <div class="user-card__job">
    <div class="user-card__info">
      <span class="user-card__key">{{ 'users.card.company' | translate }}</span>
      <span class="user-card__key">{{ 'users.card.mission' | translate }}</span>
    </div>

    <div class="user-card__values">
      <span class="user-card__value">{{ user.company.name }}</span>
      <span class="user-card__value text-italic">
        {{ user.company.catchPhrase || ('users.card.unknown' | translate) }}
      </span>
    </div>
  </div>

  <div class="user-card__spec">
    <div class="user-card__info">
      <span class="user-card__key">{{
        'users.card.specialization' | translate
      }}</span>
    </div>

    <div class="user-card__values">
      <span class="user-card__value">{{
        user.company.bs || ('users.card.unknown' | translate)
      }}</span>
    </div>
  </div>
  <button
    id="delete-user-btn"
    class="delete-user-btn"
    (click)="onDelete()"
    appHoverBold
  >
    {{ 'users.card.delete' | translate }}
  </button>
</div>
