@use '../assets/fonts';

@use '../assets/functions' as *;

* {
  font-family: 'Nunito Sans';
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --secondary-color: #1a3e3e;
  --yellow-color: #F2BE22;
  --light-grey-background-color: #F3F5F4
}

.container {
  max-width: rem(1180);
  width: 100%;
  margin: 0 auto;
}

.button {
  font-weight: 600;
  font-size: rem(16);
  padding: rem(12) rem(24);
  border: none;
  border-radius: rem(8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(rem(-4));
    box-shadow: 0 rem(10) rem(20) rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(rem(-1));
  }
}

.button--green {
  padding: rem(16) rem(36);
  font-weight: 600;
  font-size: rem(16);
  background-color: var(--secondary-color);
  border: none;
  border-radius: rem(8);
  color: var(--white-color);
  cursor: pointer;
  width: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(rem(-4));
    box-shadow: 0 rem(10) rem(20) rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(rem(-1));
  }
}

.section-label {
  display: block;
  font-weight: 400;
  line-height: rem(20);
  color: var(--yellow-color);
  margin-bottom: rem(8);
  font-size: rem(24);
}

.section-title {
  font-weight: 800;
  line-height: 120%;
  margin-bottom: rem(40);
  margin-top: 0px;
  font-size: rem(32);
}

.section-text {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: rem(40);
}

.fs-32 {
  font-size: rem(32);
}

.fs-24 {
  font-size: rem(24);
}

.fs-18 {
  font-size: rem(18);
}

.fs-16 {
  font-size: rem(16);
}

.fs-14 {
  font-size: rem(14);
}
