@use '../assets/fonts';

* {
  font-family: 'Nunito Sans';
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --secondary-color: #1A3E3E;
}

