<div class="posts-wrapper">

  <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

    <div class="card p-4">

      <div class="table-header">

        <div class="table-header__left">
          <h2 class="table-title">Список постов</h2>

          <span class="table-subtitle">
            Всего: {{ totalRecords$ | async }}
          </span>
        </div>

        <div class="table-header__right">
          <button
            pButton
            type="button"
            label="Создать пост"
            icon="pi pi-plus"
            routerLink="create"
            class="p-button-sm"
          ></button>
        </div>

      </div>

      <p-table
        [value]="(loading$ | async) ? skeletonRows : ((posts$ | async) || [])"
        [contextMenu]="cm"
        class="p-datatable-striped posts-list-table"
        [rowHover]="true"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [totalRecords]="(totalRecords$ | async) ?? 0"]
        [lazy]="true"
        (onPage)="onPageChange($event)"
      >

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 45%">Название</th>
            <th style="width: 25%">Теги</th>
            <th style="width: 15%">Просмотры</th>
            <th style="width: 15%; text-align: center;">Действия</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-post>

          @if (loading$ | async) {
            <tr>
              <td>
                <p-skeleton width="80%" height="1rem"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="60%" height="1rem"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="40px" height="1rem"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="32px" height="32px" shape="circle"></p-skeleton>
              </td>
            </tr>

          } @else {

            <tr
              (dblclick)="onDoubleClickTableRow(post.id)"
              (contextmenu)="selectedPost = post"
              class="clickable-row"
            >

              <td>{{ post.title }}</td>

              <td>{{ post.tags?.join(', ') }}</td>

              <td>{{ post.views }}</td>

              <td class="actions">
                <button
                  pButton
                  type="button"
                  icon="pi pi-ellipsis-v"
                  class="p-button-rounded p-button-text"
                  (click)="selectedPost = post; cm.show($event); $event.stopPropagation()"
                ></button>
              </td>

            </tr>

          }

        </ng-template>

      </p-table>

    </div>

</div>
