<div class="user-form-container">
  <form [formGroup]="userForm" class="user-form">
    <h2 class="form-title">Регистрация</h2>
    <div class="form-section">
      <label>
        Имя
        <input
          id="name"
          type="text"
          formControlName="name"
          appAnimatedGradient
            [config]="{
              colors: ['#ff0055', '#00ffcc'],
              delay: 500,
              thickness: '4px',
            }"
        >
      </label>
      <label>
        Username
        <input id="username" type="text" formControlName="username" appAnimatedGradient>
      </label>
      <label>
        Email
        <input id="email" type="email" formControlName="email" appAnimatedGradient>
      </label>
      <label>
        Телефон
        <input id="telephone" type="text" formControlName="phone" appAnimatedGradient>
      </label>
      <label>
        Website
        <input id="website" type="text" formControlName="website" appAnimatedGradient>
      </label>
    </div>

    <div formGroupName="address" class="form-section">
      <h3>Адрес</h3>
      <label>
        Город
        <input id="address-city" type="text" formControlName="city" appAnimatedGradient>
      </label>
      <label>
        Улица
        <input id="address-street" type="text" formControlName="street" appAnimatedGradient>
      </label>
      <label>
        Офис
        <input id="address-office" type="text" formControlName="suite" appAnimatedGradient>
      </label>
      <label>
        Индекс
        <input id="address-index" type="text" formControlName="zipcode" appAnimatedGradient>
      </label>

      <div formGroupName="geo">
        <h4>Координаты</h4>
        <label>
          Geo latitude
          <input id="latitude" type="text" formControlName="lat" appAnimatedGradient>
        </label>
        <label>
          Geo longitude
          <input id="longitude" type="text" formControlName="lng" appAnimatedGradient>
        </label>
      </div>
    </div>

    <div formGroupName="company" class="form-section">
      <h3>Компания</h3>
      <label>
        Название
        <input id="company-name" type="text" formControlName="name" appAnimatedGradient>
      </label>
      <label>
        Миссия
        <input id="company-mission" type="text" formControlName="catchPhrase" appAnimatedGradient>
      </label>
      <label>
        Специализация
        <input id="company-specialization" type="text" formControlName="bs" appAnimatedGradient>
      </label>
    </div>

    <button
      id="form-button"
      (click)="onSubmit()"
      type="submit"
      [disabled]="userForm.invalid"
      appHoverBold
    >
      Сохранить
    </button>
  </form>

</div>
