.header {
  width: 100%;
  height: calc(100vh);
  background-image: url('/images/background-mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white-color);
  padding-top: 16px;
  font-weight: 600;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.button {
  font-weight: 600;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;

  &--green {
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;

  &-image {
    width: 137px;
    height: auto;

  }
  &-company-name{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.5px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 49px;

  &__menu {
    display: flex;
    gap: 24px;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: flex-end;
}

.hero__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  &-title p {
    text-align: left;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 150%;
    width: auto;
  }
}

.hero__filters-wrapper {
  width: 100%;
  height: 161px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 43px;
}

.hero__filters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.hero__filters-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  width: 270px;
  height: 51px;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
}

.hero__filters-title {
  display: flex;
  align-items: center;
  width: 100%;

  &::after {
    content: '';
    display: inline-block;
    margin-left: auto;
    color: #fdfdfd;
    width: 20px;
    height: 20px;
    background-image: url('/images/svg/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.hero__filters-item:nth-child(2) .hero__filters-title::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/svg/calendar.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
}

.hero__button {
  width: 213px;
  height: 51px;
  border-radius: 9px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.hero__filters-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 170px;
  align-items: center;
  text-align: center;

  span {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
  }
}

.hero__filters-description-item {
  padding-top: 8px;
}
