<header class="header fs-18">
  <div class="navigation__wrapper container">
    <div class="navigation__logo">
      <img class="navigation__logo-image" src="images/logo-mountain.svg" alt="logo" />
      <p class="navigation__logo-company-name">{{ companyName }}</p>
    </div>
    <div class="navigation">
      <nav class="navigation__menu">
        <a class="navigation__item">Главная</a>
        <a class="navigation__item">Про гида</a>
        <a class="navigation__item">Программа тура</a>
        <a class="navigation__item">Стоимость</a>
        <a class="navigation__item">Блог</a>
        <a class="navigation__item">Контакты</a>
      </nav>
      <div class="navigation__button">
        <button class="button button--green">Консультация</button>
      </div>
    </div>
  </div>

  <div class="hero__wrapper">
    <div class="hero__block">
      <div class="hero__block-title container">
        <p>насладись прогулкой в горах</p>
        <p>с командой единомышленников</p>
      </div>

      <div class="hero__filters-wrapper container">
        <div class="hero__filters">
          <div class="hero__filters-item">
            <div class="hero__filters-title fs-16">
              <span>Локация для тура</span>
            </div>
            <div class="hero__filters-description">
              <span>выберите из списка</span>
            </div>
          </div>
          <div class="hero__filters-item">
            <div class="hero__filters-title fs-16">
              <span>Дата похода</span>
            </div>
            <div class="hero__filters-description">
              <span>укажите диапозон</span>
            </div>
          </div>
          <div class="hero__filters-item">
            <div class="hero__filters-title fs-16">
              <span>Участники</span>
            </div>
            <div class="hero__filters-description">
              <span>минимум 4 человека</span>
            </div>
          </div>
          <div class="hero__button-container">
            <button class="hero__button fs-16">Найти программу</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
