@use '../assets/functions'as *;


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);

  & img {
    width: rem(51);
    height: rem(51);
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }
}

.header-hero-wrapper {
  display: flex;
  background-image: url('/images/bg-mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  flex-direction: column;
  padding-bottom: rem(15);
}

.header {
  width: 100%;
  height: calc(#{rem(72)} + #{rem(6)} + #{rem(58)});
  color: var(--white-color);
  padding-top: rem(16);
  padding-bottom: rem(16);
  font-weight: 600;
}

.button--small {
  color: var(--white-color);
  background-color: var(--secondary-color);

}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;

  &-image {
    width: rem(137);
    height: auto;
  }

  &-company-name {
    margin: 0;
    font-size: rem(14);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: rem(5);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: rem(49);

  &__menu {
    display: flex;
    gap: rem(24);
  }
}

.date-clicker-container {
  display: flex;
  justify-content: flex-end;
  gap: rem(40);
  align-items: center;
}

.clicker-buttons {
  gap: rem(12);
  margin-top: 0 auto;

  & button {
    margin: 0 rem(6);
  }

  .clicker-btn {
    border: none;
    background: transparent;
    color: #fff;
    font-size: rem(20);
    cursor: pointer;

    &:disabled {
      color: #6FA0A0;
      cursor: not-allowed;
    }
  }
}

.hero__wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-direction: column;
}

.hero__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  &-title {
    padding-bottom: rem(41);
  }

  &-title p {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    font-style: normal;
    font-size: rem(50);
    line-height: 150%;
    width: auto;
  }
}

.hero__filters-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rem(161);
  border-radius: rem(9);
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: rem(15);
}

.hero__filters {
  display: flex;
  flex-direction: row;
  gap: rem(24);
}

.hero__filters-item {
  display: flex;
  flex-direction: column;
}

.hero__filters-title {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: rem(8);
  width: rem(270);
  height: rem(51);
}

.location__dropdown {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: rem(51);
  padding: rem(16) rem(40) rem(16) rem(16);
  font-weight: 700;
  color: var(--light-grey-background-color);
  border: 1px solid #e1e3e4;
  border-radius: rem(8);
  background-image: url('/images/svg/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right rem(16) center;
  background-size: rem(20);

  &-option {
    color: var(--black-color);
  }
}

.date-input-container {
  position: relative;
  width: 100%;
}

.date-input::placeholder {
  color: var(--white-color);
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: rem(16);
  line-height: 150%;
  letter-spacing: 0px;
}

.date-input {
  position: relative;
  appearance: none;
  border-radius: rem(8);
  width: 100%;
  margin: 0;
  padding: rem(16) rem(40) rem(16) rem(16);
  background-color: transparent;
  border: 1px solid #e1e3e4;
  outline: none;
  color: var(--white-color);
  font-weight: 700;
  background-image: url('/images/svg/calendar-icon.svg');
  background-repeat: no-repeat;
  background-position: right rem(16) center;
  background-size: rem(20);
  transition: background-color 0.1s ease-in-out;

  &--transparent {
    color: transparent;
    font-weight: 700;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
  }

  &:valid {
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
  }
}

.date-placeholder-cover {
  position: absolute;
  top: 50%;
  left: 16px;
  color: var(--light-grey-background-color);
  transform: translate(0, -50%);
  font-weight: 700;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.hero__button {
  position: relative;
  overflow: hidden;
  width: rem(213);
  height: rem(51);
  border-radius: rem(9);
  border: none;
  font-weight: 700;
  color: var(--white-color);
  cursor: pointer;
  z-index: 1;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #138173 0%, #1A3E3E 70%);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }

  &:not(:disabled) {
    animation: pulse 2s infinite ease-in-out;
    background-color: transparent;

    &::before {
      opacity: 1;
    }

    &:hover {
      transform: translateY(rem(-4));
      box-shadow: 0 rem(10) rem(20) rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(rem(-1));
    }
  }

  &:disabled {
    opacity: 1;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: not-allowed;
  }
}

.hero__filters-description {
  padding: rem(8);
  color: var(--light-grey-background-color);

  span {
    font-weight: 400;
    font-size: rem(14);
    letter-spacing: 0px;
  }
}

.live-input-container {
  display: flex;
}

.live-input {
  border-radius: rem(8);
  width: rem(454);
  padding: rem(16) rem(40) rem(16) rem(16);
  background-color: transparent;
  border: 1px solid #e1e3e4;
  outline: none;
  color: var(--white-color);
  margin-right: rem(100);

}

.live-output {
  display: flex;
  align-items: center;
  color: var(--white-color);
}

.about-tour {
  display: flex;
  justify-self: center;
  align-items: flex-start;
  gap: rem(250);
  width: rem(1180);
  height: rem(526);
  margin: rem(100) rem(370);
}

.about-tour__img-container {
  position: relative;
  width: rem(350);
  height: rem(400);
  max-width: 100%;
  border-radius: rem(10);
}

.about-tour__image--main {
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.about-tour__image--overlay {
  position: absolute;
  bottom: rem(-126);
  right: rem(-130);
  width: rem(350);
  line-height: 0;
}

.about-tour__image--secondary {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: rem(23);
  transition: transform 0.7s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.about-tour__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(60);
  height: rem(60);
  cursor: pointer;
  transition: transform 0.5s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.about-tour__info {
  padding: rem(64) 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.programs-wrapper {
  background-color: var(--light-grey-background-color);
}

.programs {
  display: flex;
  height: rem(771);

}

.programs__info {
  display: flex;
  flex-direction: column;
  margin: rem(80) rem(90) rem(100) 0px;
  width: rem(580);
  height: rem(591);

  &-label {
    display: block;
  }

  &-text {
    margin-top: 0px;
  }
}

.programs__images {
  display: flex;
  flex-wrap: wrap;
  gap: rem(10);
  max-width: rem(510);
  max-height: rem(510);
  justify-content: center;
  padding-top: rem(120);

  & img {
    height: rem(250);
    width: rem(250);
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.programs__info-advantages-list {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  margin-bottom: rem(40);
}

.programs__info-advantages {
  display: flex;
  flex-direction: column;
  gap: rem(40);

  &-item {
    display: flex;
    border-radius: rem(8);
    transition: all 0.3s ease;

    &-description-text {
      transition: all 0.5s ease;
    }

    &:hover {
      background-color: #6FA0A0;
      opacity: 1;
      transform: translateX(rem(5));
      padding: rem(3) rem(0) rem(3) rem(10);
    }

    &-img {
      display: flex;
      width: rem(50);
      height: rem(50);
      align-items: center;
      margin: rem(7) rem(16) rem(7) rem(0);
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(rem(-4));
      }

      img {
        width: rem(50);
        height: rem(50);
      }

    }
  }

  &-item-description {
    display: flex;
    flex-direction: column;
  }

  &-item-description-title {
    font-weight: 700;
    font-style: Bold;
    line-height: rem(20);
    letter-spacing: 1.2%;
  }

  &-item-description-text {
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: 0%;
    margin: 0;
  }
}

.popular-tour-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px;

  .popular_tour-label {
    margin-bottom: rem(50);
  }

  .popular-tour-container {
    display: flex;
    flex-direction: row;
    gap: rem(20);

    .popular-tour-item {
      position: relative;
      height: rem(500);
      width: rem(380);
      margin-bottom: rem(50);
      overflow: hidden;
      border-radius: 24px;
      cursor: pointer;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
      }

      .popular-tour-item__rating {
        display: flex;
        justify-items: center;
        align-items: center;
        text-align: center;
        color: var(--secondary-color);
        position: absolute;
        right: 0;
        top: rem(50);
        font-weight: 700;
        line-height: rem(18);
        background-color: #FDFDFD66;
        padding: rem(4) rem(8) rem(4) rem(8);
        gap: rem(4);
      }

      .popular-tour-item__overlay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(20) rem(32) rem(23) rem(32);
        letter-spacing: 0%;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem(90);
        color: #FDFDFD;
        margin: 0;

        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);

        background: linear-gradient(to top,
            rgba(255, 255, 255, 0.45) 0%,
            rgba(255, 255, 255, 0.25) 40%,
            rgba(255, 255, 255, 0.08) 80%,
            rgba(255, 255, 255, 0) 100%);


        // background-color: rgba(255, 255, 255, 0.25);
        // background: linear-gradient(
        //   to top,
        //   rgba(255,255,255,0.3),
        //   rgba(255,255,255,0.35)
        // ),
        // rgba(0,0,0,0.05);
        // backdrop-filter: blur(6px);
        // border-radius: 10px;
        z-index: 1;

        // border-top: 1px solid rgba(255,255,255,0.2);
        .popular-tour-item__text {
          // gap: 0px;
          // margin: 0;

          h5 {
            font-weight: 700;
            margin: 0;
            line-height: 120%
          }

          span {
            line-height: rem(18);
          }
        }

        .popular-tour-item__price {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          font-size: rem(20);
          font-weight: 700;
          line-height: rem(24);
          background-color: #FFFFFF4D;
          width: rem(86);
          height: rem(40);
          border-radius: rem(4);
        }

      }
    }

    .popular-tour-button {
      margin-bottom: rem(10);
    }
  }
}

.traveler-blog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: rem(85);
  background-color: var(--light-grey-background-color);

  .traveler-blog-label {
    margin-bottom: rem(40);
  }

  .traveler-blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: rem(50);

    .traveler-blog-item {
      display: flex;
      gap: rem(24);
      padding: 16px;
    }

    .traveler-blog-item {
      background-color: var(--white-color);
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;

      .traveler-blog-img-wrapper {
        height: rem(280);
        width: rem(230);

        img {
          height: rem(280);
          width: rem(230);
          object-fit: cover;
        }
      }

      .blog-info {
        display: flex;
        width: 100%;
        gap: rem(24);
        flex-direction: column;

        .blog-info__title {
          font-weight: 700;
          line-height: rem(32);
          margin: 0;
        }

        .blog-info__description {
          font-size: rem(14);
          line-height: rem(20);
          margin: 0;
          padding: 0;
        }

        .blog-info__addition {
          margin-top: auto;
          display: flex;
          justify-content: space-between;
          font-size: rem(14);
          font-weight: 700;
          line-height: rem(20);

          .blog-date {
            color: #F2BE22;
          }

          .blog-link {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  .traveler-blog-button {
    margin-bottom: rem(15);
  }
}

.notification-container {
  position: fixed;
  top: rem(7);
  right: rem(7);
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  z-index: 9999;
}

.notification {
  position: relative;
  padding: rem(15);
  height: rem(70);
  width: rem(350);
  display: flex;
  gap: rem(15);
  background-color: #0F172A99;
  color: #E8E9EB;
  line-height: rem(20);
  border: rem(1) solid #FFFFFF;
  border-radius: 10px;
  z-index: 9999;


  .notification-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-weight: 716;
      margin: 0;
    }
  }

  .close-message-icon-container {
    position: absolute;
    width: rem(20);
    height: rem(20);
    top: 7px;
    right: 7px;
    cursor: pointer;
  }
}
