@if (isLoading) {
  <div class="loading-overlay" alt="Загрузка">
    <img src="./images/icons/loading-icon.svg" alt="загрузка">
  </div>
}

<div class="header-hero-wrapper">
  <header class="header fs-18">
    <div class="navigation__wrapper container">
      <div class="navigation__logo">
        <img class="navigation__logo-image" src="images/logo-mountain.svg" alt="logo" />
        <p class="navigation__logo-company-name">{{ companyName }}</p>
      </div>
      <div class="navigation">
        <nav class="navigation__menu">
          <a id="main-page" class="navigation__item">Главная</a>
          <a id="guide-page" class="navigation__item">Про гида</a>
          <a id="program-page" class="navigation__item">Программа тура</a>
          <a id="price-page" class="navigation__item">Стоимость</a>
          <a id="blog-page" class="navigation__item">Блог</a>
          <a id="contact-page" class="navigation__item">Контакты</a>
        </nav>
        <div class="navigation__button">
          <button id="button-consult" class="button button--small">Консультация</button>
        </div>
      </div>
    </div>

    <div class="date-clicker-container container">
      <span>{{ isDisplayTime ? dateNow: clickerCounter}}</span>
      <div class="clicker-buttons" [hidden]="isDisplayTime">
        <button
          id="button-counter-increase"
          class="clicker-btn"
          (click)="increaseCounter()"
        >
          +
        </button>
        <button
          id="button-counter-decrease"
          class="clicker-btn"
          (click)="decreaseCounter()"
          [disabled]="clickerCounter === 0"
        >
          -
        </button>
      </div>
      <button
        id="button-header-toggle"
        class="button button--small"
        (click)="toggleDate()"
      >
        {{ isDisplayTime ? 'показать кликер' : 'показать дату' }}
      </button>
    </div>
  </header>

  <div class="hero__wrapper">
    <div class="hero__block">
      <div class="hero__block-title container">
        <p>насладись прогулкой в горах</p>
        <p>с командой единомышленников</p>
      </div>

      <div class="hero__filters-wrapper container">
        <div class="hero__filters">
          <div class="hero__filters-item">
            <div class="hero__filters-title fs-16">
              <select
                id="hero-select-location"
                class="location__dropdown"
                name="location"
                required
                [(ngModel)]="location"
              >
                <option value="" disabled selected hidden>Локация для тура</option>
                @for (location of hikeLocations; track location.id) {
                  <option class="location__dropdown-option">{{ location.name }}</option>
                }
              </select>
            </div>
            <div class="hero__filters-description">
              <span>выберите из списка</span>
            </div>
          </div>
          <div class="hero__filters-item">
            <div class="hero__filters-title fs-16">
              <div class="date-input-container">
                <input
                  id="hero-date-input"
                  type="date"
                  class="date-input"
                  [class.date-input--transparent]="!date"
                  name="date"
                  placeholder="Дата похода"
                  [(ngModel)]="date"
                  required
                />
                @if (!date) {
                  <span class="date-placeholder-cover" >Дата похода</span>
                }
              </div>
            </div>
            <div class="hero__filters-description">
              <span>укажите диапазон</span>
            </div>
          </div>
          <div class="hero__filters-item">
            <div class="hero__filters-title fs-16">
              <select
                id="hero-select-participants"
                class="location__dropdown"
                name="participants"
                required
                [(ngModel)]="participants"
              >
                <option value="" disabled selected hidden>Участники</option>
                <option value="4" class="location__dropdown-option">4</option>
                <option value="5" class="location__dropdown-option">5</option>
                <option value="6+" class="location__dropdown-option">6 и более</option>
              </select>
            </div>
            <div class="hero__filters-description">
              <span>выберите из списка</span>
            </div>
          </div>
          <div class="hero__button-container">
            <button
              id="hero-button-search-program"
              class="hero__button fs-16"
              (click)="showProgramPrice()"
              [disabled]="!isFormValid()"
            >
              Найти программу
            </button>
          </div>
        </div>

      </div>
      <div class="live-input-container container">
        <input
          id="hero-live-input"
          class="live-input"
          maxlength="45"
          type="text"
          placeholder="type 'Hello'"
          [(ngModel)]="liveInputText"
        >
        <span class="live-output">{{ liveInputText }}</span>
      </div>
    </div>
  </div>
</div>

<section class="about-tour">
  <div class="about-tour__img-container">
    <img
      id="about-tour__image--main"
      class="about-tour__image about-tour__image--main"
      src="images/about-tour2.png"
      alt="tour picture"
    >
    <div class="about-tour__image--overlay">
      <img
        id="about-tour__image--secondary"
        class="about-tour__image about-tour__image--secondary"
        src="images/about-tour1.png"
        alt="tour picture"
      >
      <img
        id="about-tour__play-icon"
        class="about-tour__play-icon"
        src="images/icons/play-icon.svg"
        alt="tour picture"
      >
    </div>
  </div>
  <div class="about-tour__info">
    <span class="section-label">о нашем походе</span>
    <h2 class="section-title fs-32">Исследуйте все горные массивы мира вместе с нами</h2>
    <p class="section-text fs-18">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
      тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из
      самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
    <button id="about-tour-program-button" class="button--green">Программа тура</button>
  </div>
</section>

<section class="programs-wrapper">
  <div class="programs container">
    <div class="programs__info">
      <span class="programs__info-label section-label">наше предложение</span>
      <h2 class="programs__info-title section-title fs-32">Лучшие программы для тебя</h2>
      <p class="programs__info-text section-text fs-18">Его корни уходят в один фрагмент классической латыни 45 года
        н.э., то есть более
        двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
      <div class="programs__info-advantages">
        <div class="programs__info-advantages-list fs-18">

          @for (advantage of advantages; track advantage.id) {
          <div [id]="'advantage-item-' + advantage.id" class="programs__info-advantages-item">
            <div class="programs__info-advantages-item-img">
              <img [src]="iconPath + advantage.icon + '.svg'" [alt]="advantage.title">
            </div>
            <div class="programs__info-advantages-item-description fs-18">
              <span class="programs__info-advantages-item-description-title">
                {{ advantage.title }}
              </span>
              <p class="programs__info-advantages-item-description-text">
                {{ advantage.text }}
              </p>
            </div>
          </div>
          }
        </div>
      </div>
      <button id="programs-price-button" class="button button--green" (click)="showNotification('Success', notificationType.SUCCESS)">Стоимость программ</button>
    </div>
    <div class="programs__images">
      <img src="images/info-program-img1.png" alt="a cup of tea in mountains">
      <img src="images/info-program-img2.png" alt="a tourist on top of the mountain">
      <img src="images/info-program-img3.png" alt="a man on a snowmobile">
      <img src="images/info-program-img4.png" alt="river in mountains">
    </div>
  </div>
</section>

<section class="popular-tour-wrapper">
  <span class="section-label">по версии отдыхающих</span>
  <h2 class="popular_tour-label section-title">Популярные направления</h2>
  <div class="popular-tour-container container">
    @for (tour of tours; track tour.id) {
      <div [id]="'popular-tour-item-' + tour.id" class="popular-tour-item">
        <div class="popular-tour-item__rating fs-14">
          <img [src]="iconPath + 'rating-star-icon' + '.svg'" alt="звезда рейтинга">
          <span>{{ tour.rating.toFixed(1) }}</span>
        </div>
        <img class="popular-tour-item-img" [src]="imgPath + tour.img + '.png'" [alt]="tour.title">
        <div class="popular-tour-item__overlay">
          <div class="popular-tour-item__text">
            <h5 class="fs-24">{{ tour.title }}</h5>
            <span class="fs-14">{{ tour.preview }}</span>
          </div>
          <div class="popular-tour-item__price">
            <span>{{ tour.price }} &#36;</span>
          </div>
        </div>
      </div>
    }
  </div>
  <button
    id="popular-tour-button"
    class="popular-tour-button button button--green"
    (click)="showNotification('hello', notificationType.INFO)"
  >
    Рейтинг направлений
  </button>
</section>

<section class="traveler-blog-wrapper">
  <span class="section-label">делимся впечатлениями</span>
  <h2 class="traveler-blog-label section-title">Блог о путешествиях</h2>
  <div class="traveler-blog-container container">
    @for (article of articles; track article.id) {
      <div [id]="'traveler-blog-' + article.id" class="traveler-blog-item">
      <div class="traveler-blog-img-wrapper">
        <img [src]="'images/' + article.img + '.png'" [alt]="article.title">
      </div>
      <div class="blog-info">
        <a class="blog-info__title fs-24">{{ article.title }}</a>
        <p class="blog-info__description">{{ article.text.length > 200 ? (article.text | slice:0:200) + '...' : article.text }}</p>
        <div class="blog-info__addition">
          <span class="blog-date">{{ article.date }}</span>
          <a class="blog-link">читать статью</a>
        </div>
      </div>
    </div>
    }

  </div>
  <button id="traveler-blog-button"
    class="traveler-blog-button button button--green"
    (click)="showNotification('Warning', notificationType.WARN)"
  >
    Другие материалы
  </button>
</section>


<div class="notification-container">
    @for (notification of notificationService.getNotifications(); track notification.id) {
      <ng-container [ngTemplateOutlet]="notificationTemplate" [ngTemplateOutletContext]="{ notification }" />
    }
</div>

<ng-template #notificationTemplate let-notification='notification'>
  <div class="notification">
    <div class="notification-image-container">
      <img src="images/icons/message-icon.svg" alt="message">
    </div>
    <div class="notification-description-container">
      <h4 class="fs-16">{{ notification.type }}</h4>
      <span class="fs-14">{{ notification.text }}</span>
    </div>
    <div class="close-message-icon-container">
      <img src="images/icons/close-message-icon.svg" alt="close message" (click)="closeNotification(notification)">
    </div>
  </div>
</ng-template>
