  <form
    [formGroup]="editForm"
    (ngSubmit)="onSubmit()"
    class="edit-form"
  >
    <div class="field">
      <label for="title">{{ 'posts.edit.titleLabel' | translate }}</label>
      <input
        class="edit-input"
        pInputText
        id="title"
        type="text"
        formControlName="title"
        [placeholder]="'posts.edit.titlePlaceholder' | translate"
      />
    </div>

    <div class="field">
      <label for="tags">{{ 'posts.edit.tags' | translate }}</label>
      <input
        class="edit-input"
        pInputText
        id="tags"
        type="text"
        formControlName="tags"
        [placeholder]="'posts.edit.tagsPlaceholder' | translate"
      />
    </div>

    <div class="field">
      <label for="views">{{ 'posts.edit.views' | translate }}</label>

      <p-inputNumber
        class="edit-input-views"
        id="views"
        formControlName="views"
        [min]="0"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        incrementButtonClass="p-button-secondary"
        decrementButtonClass="p-button-secondary"
        placeholder="0"
      ></p-inputNumber>
    </div>

    <div class="dialog-actions">
      <p-button
        [label]="'posts.edit.cancel' | translate"
        severity="secondary"
        [outlined]="true"
        type="button"
        (click)="onCancel()"
      ></p-button>

      <p-button
        [label]="'posts.edit.save' | translate"
        icon="pi pi-check"
        type="submit"
        [disabled]="editForm.invalid"
      ></p-button>
    </div>
  </form>
